<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Hello Frank - A Sinatra Example</title>
</head>
  <body>
    <h3>Sinatra Example</h3>
    <p>
      Available Routes:
      <ul>
        <li><a href="/about">About [Text]</a></li>
        <li><a href="/form">Form [POST Example]</a></li>
        <li><a href="/hello/niczak/Minneapolis">Hello [2 Params]</a></li>
        <li><a href="/mongo">Mongo [MongoDB Example]</a></li>
        <li><a href="/more/foo/bar">More [Splat Example]</a></li>
        <li><a href="/reverse">Reverse [String Reversal]</a></li>
      </ul>
  </body>
</html>